*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header {
    width: 1263px;
    height: 600px;
    background: url("image/6c9e7f29210293.55e7794642d6e.jpg") no-repeat center center;
    background-size: 1263px 600px;
    position: relative;
}
.logo{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 999;
}
.nav{
    font-size: 20px;
    width: 860px;
    height: 24px;
    margin-left:300px;
    display: flex;
    justify-content: space-between;
}
.nav li a{
    color: #000;
}
.nav li a:hover{
    border-bottom: 4px solid #000 ;
}
.js{
    width: 253px;
    height: 248px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.js>li>ul{
    width: 253px;
    height: 40px;
    line-height: 20px;
}
.js .bt{
    border-left: 3px solid #000000;
    padding-left: 5px;
    margin-bottom: 10px;
}
.body{
    width: 100%;
    height: 2300px;
    box-shadow: 0 0 5px 5px;
}
.body >main{
    width: 1000px;
    height: 2500px;
    box-shadow: 0 0 10px 3px;
    position: absolute;
    left: 0;
    right:0;
    top:500px;
    margin:auto;
    background: #fff;
}
.hei{
    width: 100%;
    height: 30px;
    background: #000000;
}
.lujing{
    width: 100%;
    height:20px;
}
.lujing>li{
    float:left;
    font-size: 14px;
}
.lujing>li>a{
    color:#5f5f5f;
}
.title{
    width: 250px;
    hieght:200px;
    margin: 70px auto;
    text-align: center;
}
.title>li:first-child{
    color:#c8bc18;
    font-size: 30px;
}
.title>li:first-child span{
    margin-right: 5px;
    font-weight: bold;
    color:#d5af00;
}
.title>li:nth-child(2){
    color: #383838;
    margin-top: 20px;
}
.title>li:nth-child(3){
    font-weight: bold;
    margin-top: 20px;
    color: #353535;
    font-size: 18px;
}
.title>li:nth-child(4){
    margin-top: 20px;
    color: #6e6e6e; 
}
.teSe{
    height: 700px;
    width:801px;
    margin:0 auto;
}
.teSe>li{
    float: left;
}
.teSe>li:first-child,.teSe>li:nth-child(5){
    width: 400px;
    height:250px;
}
.teSe>li:first-child>a,.teSe>li:nth-child(5)>a{
    width: 400px;
    height:250px;
    display: block;
}
.teSe>li:first-child>a>img,.teSe>li:nth-child(5)>a>img{
    width: 400px;
    height:250px;
}
.teSe>li:nth-child(2),.teSe>li:nth-child(3),.teSe>li:nth-child(4),.teSe>li:nth-child(6){
    width: 400px;
    height:200px;
}
.teSe>li:nth-child(4)>a{
    width: 400px;
    height:200px;
    display: block;
}
.teSe>li:nth-child(4)>a>img{
    width: 400px;
    height:200px;
}
.teSe>li:nth-child(2){
    margin-top: 51px;
}
.teSe>li:nth-child(2),.teSe>li:nth-child(3),.teSe>li:nth-child(6){
     background: #ececec;
 }
.teSe>li:nth-child(2)>ul,.teSe>li:nth-child(6)>ul{
    margin-left: 30px;
}
.teSe>li:nth-child(3)>ul{
    margin-left: 130px;
}
.teSe>li:nth-child(2)>ul>li:first-child,.teSe>li:nth-child(3)>ul>li:first-child,.teSe>li:nth-child(6)>ul>li:first-child{
     margin-top: 30px;
     color:#8b796b;
    font-size: 20px;
 }
.teSe>li:nth-child(2)>ul>li:nth-child(2),.teSe>li:nth-child(3)>ul>li:nth-child(2),.teSe>li:nth-child(6)>ul>li:nth-child(2){
    margin-top: 8px;
    color:#7e6c5e;
}
.teSe>li:nth-child(2)>ul>li:nth-child(3),.teSe>li:nth-child(3)>ul>li:nth-child(3),.teSe>li:nth-child(6)>ul>li:nth-child(3){
    margin-top: 8px;
    color:#786b62;
}
.teSe>li:nth-child(2)>ul>li:nth-child(4),.teSe>li:nth-child(3)>ul>li:nth-child(4),.teSe>li:nth-child(6)>ul>li:nth-child(4){
    margin-top: 30px;
    color:#8b8b8b;
}
.teSe>li:nth-child(2)>ul>li:nth-child(4)>span,.teSe>li:nth-child(3)>ul>li:nth-child(4)>span,.teSe>li:nth-child(6)>ul>li:nth-child(4)>span{
    margin-left: 30px;
}
.teSe>li:nth-child(7){
    width: 40%;
    height:50px;
    background: #876853;
}
.teSe>li:nth-child(7)>ul{
    display: flex;
    justify-content: space-around;
    line-height: 50px;
}
.teSe>li:nth-child(7)>ul>li:first-child{
    color: #fff;
}
.teSe>li:nth-child(7)>ul>li:nth-child(6){
    color: #fff;
}
.teSe>li:nth-child(7)>ul>li:nth-child(2),.teSe>li:nth-child(7)>ul>li:nth-child(3),.teSe>li:nth-child(7)>ul>li:nth-child(4),.teSe>li:nth-child(7)>ul>li:nth-child(5){
    color: #fff;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.teSe>li:nth-child(7)>ul>li:nth-child(1)>a,.teSe>li:nth-child(7)>ul>li:nth-child(2)>a,.teSe>li:nth-child(7)>ul>li:nth-child(3)>a
,.teSe>li:nth-child(7)>ul>li:nth-child(4)>a,.teSe>li:nth-child(7)>ul>li:nth-child(5)>a,.teSe>li:nth-child(7)>ul>li:nth-child(6)>a{
    color:#fff;
}
.zhezhao1{
     width: 400px;
     height: 200px;
     background: #876853;
     opacity: 0.7;
     position: absolute;
     top: 408px;
     right:101px;
    display: none;
 }
.zhezhao2{
    width: 400px;
    height: 200px;
    background: #876853;
    opacity: 0.7;
    position: absolute;
    top: 607px;
    left:101px;
    display: none;
}
.zhezhao3{
    width: 400px;
    height: 200px;
    background: #876853;
    opacity: 0.7;
    position: absolute;
    top: 808px;
    right:101px;
    display: none;
}
.zhezhao1>ul,.zhezhao3>ul{
    margin-left: 30px;
}
.zhezhao2>ul{
    margin-left: 130px;
}
.zhezhao1>ul>li:first-child,.zhezhao2>ul>li:first-child,.zhezhao3>ul>li:first-child{
    margin-top: 30px;
    color:#8b796b;
    font-size: 20px;
}
.zhezhao1>ul>li:nth-child(2),.zhezhao2>ul>li:nth-child(2),.zhezhao3>ul>li:nth-child(2){
    margin-top: 8px;
    color:#7e6c5e;
}
.zhezhao1>ul>li:nth-child(3),.zhezhao2>ul>li:nth-child(3),.zhezhao3>ul>li:nth-child(3){
    margin-top: 8px;
    color:#786b62;
}
.zhezhao1>ul>li:nth-child(4),.zhezhao2>ul>li:nth-child(4),.zhezhao3>ul>li:nth-child(4){
    margin-top: 30px;
    color:#846f5e;
}
.zhezhao1>ul>li:nth-child(4)>span,.zhezhao2>ul>li:nth-child(4)>span,.zhezhao3>ul>li:nth-child(4)>span{
    margin-left: 30px;
}
.round1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #464646;
    position: absolute;
    top:370px;
    right: 65px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-weight: bolder;
    font-size: 22px;
}
.round2{
    width: 80px;
    height: 80px;
    border: 1px solid #c1a007;
    border-radius: 50%;
    background: #876853;
    position: absolute;
    top:700px;
    left: 120px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-weight: bolder;
    font-size: 22px;
}
.round3{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #464646;
    position: absolute;
    top:960px;
    right: 65px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-weight: bolder;
    font-size: 22px;
}
.quan{
    width: 150px;
    height: auto;
    margin: 0 auto;
    margin-top: 75px;
    font-size: 26px;
}
.xiao{
    width: 190px;
    height: auto;
    margin: 20px auto;
}
.caidan{
    width: 810px;
    height: 1000px;
    margin: 50px auto;
}
.caidan>li{
    width: 270px;
    height: 500px;
    float: left;
}
.caidan>li>ul>li:first-child{
     width: 210px;
     height: 300px;
 }
.caidan>li>ul>li:first-child>a>img{
    width: 210px;
    height: 300px;
    margin-left: 27px;
}
.caidan>li>ul>li:nth-child(2){
     width: 210px;
     height: auto;
     text-align: center;
     margin-top: 50px;
    color: #766659;
}
.caidan>li>ul>li:nth-child(3){
    width: 210px;
    height: auto;
    margin-left: 30px;
    margin-top: 25px;
    color: #766659;
}
.caidan>li>ul>li:nth-child(4){
    width: 210px;
    height: auto;
    margin-left: 30px;
    color: #766659;
}
.caidan>li>ul>li:nth-child(5){
    width: 210px;
    height: auto;
    margin-left: 30px;
    margin-top: 25px;
    color: #9d9d9d;
}
.caidan>li>ul>li:nth-child(5)>span{
    margin-left: 24px;
}
.tiaozhuan{
    width: 800px;
    height: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.tiaozhuan li:first-child>a,.tiaozhuan li:nth-child(9)>a{
    color: #363636;
    font-size: 20px;
}
.tiaozhuan li:nth-child(2)>a,.tiaozhuan li:nth-child(3)>a,.tiaozhuan li:nth-child(4)>a,.tiaozhuan li:nth-child(5)>a,
.tiaozhuan li:nth-child(7)>a,.tiaozhuan li:nth-child(8)>a,.tiaozhuan li:nth-child(13)>a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #363636;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 30px;
    margin-top: -7px;
}
.tiaozhuan li:nth-child(11)>a{
    display: block;
    width: 50px;
    height: 20px;
    border: 1px solid #363636;
}
footer{
    width: 100%;
    height: 1287px;
    background: url(image/6.png) no-repeat top center;
    background-size: 100% 1287px;
}
footer main{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
footer main>ul{
    width: 1063px;
    height: 250px;
    margin-top: 185px;
}
footer main>ul>li{
    float: left;
    margin-right: 150px;
}
footer main>ul>li:last-child{
    margin-right: 0;
}
footer main>ul>li>ul{
    margin-top: 80px;
    margin-left: 5px;
}
footer main>ul>li>ul>li{
    margin-top: 18px;
}
.di{
    width: 800px;
    height: 370px;
    margin: 0 auto;
}
.lianx{
    width: 800px;
    height: 50px;
    margin: 110px auto 5px;
}
.lianx li:first-child,.lianx li:nth-child(2){
    float: left;
}
.lianx li:nth-child(3){
    float: right;
}
.di>li:nth-child(2) img{
    width: 800px;
    height: 180px;
}
.di>li:nth-child(3){
    width: 800px;
    height: 80px;
    text-align: center;
}
.di>li:nth-child(3)>ul{
    width: 800px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin: 0 auto;
    padding-left: 200px;
}
.di>li:nth-child(3)>ul>li{
    float: left;
    margin-right: 50px;
    font-size: 60px;
    font-family: iconfont;
    text-align: center;
}
.di>li:nth-child(3)>ul>li:nth-child(2){
    font-size: 80px;
}
.di>li:nth-child(3)>ul>li:nth-child(4){
    font-size: 65px;
    line-height: 70px;
}